/* Estilos para el div de la ventana emergente */


/* Estilos para el título de la ventana */
.ventana .title-bar {
  background-color: #808080;
  color: #000;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #000;
}

button,
input[type="submit"],
input[type="reset"] {
  box-sizing: border-box;
  border: none;
  color: transparent;
  text-shadow: 0 0 var(--text-color);
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  border-radius: 0;

  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}
.ventana form input[type="submit"]:hover {
  background-color: #A9A9A9;
}